.login {
  background-color: #e4e4e4;
  border: none;
  color: black;
  padding: 10px 10px;
  margin: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}

.login:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
