.confirmButton {
  background-color: rgb(231, 231, 231);
  padding: 20px 20px;
  border-width: 2px;
  border: black;
  margin-right: 100px;
}

.cancelButton {
  background-color: rgb(231, 231, 231);
  padding: 20px 20px;
  border-width: 2px;
  border: black;
  margin-right: 20px;
}


.confirmButton:hover {
  background-color: rgb(173, 255, 177);
  color: rgb(0, 0, 0);
}

.cancelButton:hover {
  background-color: rgb(255, 157, 157);
  color: rgb(0, 0, 0);
}