.background {
  background-color: lightgray;
  padding: 20px 20px;
  text-align: center;
  border-radius: 20px;
  margin: 20px 20px;
}

.header {
  text-align: left;
  text-indent: 20px;
  padding: 20px 20px;
  font-weight: bold;
  font-size: x-large;
  border-radius: 10px 10px;
}

.summary {
  text-align: center;
  padding: 30px 30px;
  font-weight: light;
}

.confirmButton {
  background-color: rgb(231, 231, 231);
  padding: 15px 20px;
  border-width: 2px;
  border: 1px solid black;
  border-radius: 10px 10px;
  margin-right: 20px;
}

.cancelButton {
  background-color: rgb(231, 231, 231);
  padding: 15px 20px;
  border-width: 2px;
  border: 1px solid black;
  border-radius: 10px 10px;
  margin-left: 20px;
}

.confirmButton:hover {
  background-color: rgb(173, 255, 177);
  color: rgb(0, 0, 0);
}

.cancelButton:hover {
  background-color: rgb(255, 157, 157);
  color: rgb(0, 0, 0);
}