
.ride-card {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
  }
  
  .ride-card h1 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ccc; 
    padding-bottom: 10px; 
  }
  
  .ride-details {
    display: flex;
    justify-content: space-between; 
  }
  
  .ride-details-column {
    flex: 1; 
    padding: 0 10px; 
  }
  
  .ride-details-column > div {
    margin-bottom: 20px; 
  }
  
  .ride-details-column h4 {
    margin: 0; 
  }
  
  .ride-card-image {
    max-width: 100%;
  }
  